body { background: #527768; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 12px; display: flex; }
.block-cart-0 { color: #dc4bd3; font-size: 18px; margin-bottom: 5px; }
.block-uploader-1 { color: #c8c4ad; font-size: 21px; margin-bottom: 5px; }
.block-cart-2 { color: #f269d5; font-size: 16px; margin-bottom: 5px; }
.block-metrics-3 { color: #2d899b; font-size: 16px; margin-bottom: 5px; }
.block-search-4 { color: #dfc86b; font-size: 16px; margin-bottom: 5px; }